# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environment
# ==========================
schemesproject/
.venv/

# ==========================
# Environment variables
# ==========================
.env
.env.local

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Build
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Cache
# ==========================
.cache/
.ipynb_checkpoints/

# ==========================
# ChromaDB
# Uncomment if teammates will build it locally
# ==========================
chroma_db/